@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body{
    background-color: #001E6C;
    font-family: 'Poppins', sans-serif;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;    
}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    height: 100px;
    width: 180px;
    background: #035397;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;    
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota{
    height: 40px;
    width: 180px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 30px 0px 0px 0px;
}

input{
    display: none;
}

input:checked + label{
    background-color: #06283D;
}

#seleccionar-ataque{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.boton-de-ataque{
    background-color: #035397;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;    
    border: transparent;
    width: 80px;
    color: white;   
    font-family: 'Poppins', sans-serif;     
}

#mensajes{
    width: 280px;
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;    
    flex-direction: column; 
    align-items: center;   
}

#boton-reiniciar{
    border: transparent;
    color: #11468F;
    font-family: 'Poppins', sans-serif; 
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa{
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

#ver-mapa button{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 10px;    
}

@media(max-width:360px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }   
}

@media(max-width:300px){
    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
}